<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Item - MITS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Post New Item</h2>
        <form method="POST" enctype="multipart/form-data">
            <input type="email" name="email" placeholder="College Email (25ce...) " required>
            
            <select name="semester" required>
                <option value="" disabled selected>Your Semester</option>
                <option value="1">1st Semester</option>
                <option value="2">2nd Semester</option>
                <option value="3">3rd Semester</option>
                <option value="4">4th Semester</option>
            </select>

            <select name="type" required>
                <option value="Sell">Selling Something</option>
                <option value="Lost">Lost Item</option>
                <option value="Found">Found Item</option>
            </select>

            <input type="text" name="title" placeholder="What is it? (e.g. Drafter, Keys)" required>
            <input type="text" name="price" placeholder="Price (or 'Free')">
            <input type="text" name="contact" placeholder="WhatsApp Number" required>
            <textarea name="desc" placeholder="Details (e.g. Near SH-1, Blue color)"></textarea>
            
            <label>Upload Photo:</label>
            <input type="file" name="image">
            
            <button type="submit" class="btn">Post Instantly</button>
        </form>
        <a href="/">← Back to Market</a>
    </div>
</body>
</html>